{% extends 'layout.html' %}

{% block title %}
    Crear Facultad
{% endblock %}

{% block content %}
    <h2>Crear Facultad</h2>
    <hr>
    <form action="{% url 'store_faculty' %}" method="post">
        {% csrf_token %}
        <label for="name">Nombre: </label>
        <input type="text" name="name" id="name" placeholder="Introduce el nombre" /> <br><br>
        <label for="description">Descripción: </label>
        <textarea name="description" id="description"></textarea> <br><br>
        <input type="submit" value="Guardar">
    </form>
{% endblock %}